body{
    padding: 0;
    margin: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}

.container .row{
    
        margin-left: -15px;
        margin-right: -15px;
    
}
.cstm-container{
    border: 1px solid gray
}